<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="connection.url">jdbc:postgresql://localhost:5432/HotelManagementSystem</property>

        <property name="connection.username">dev_user</property>

        <property name="connection.password">dev_user</property>

        <!-- Other Hibernate configuration properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>

        <property name="format_sql">true</property>

<!--        These following two lines are equal to
.addAnnotatedClass(Hotel.class).addAnnotatedClass(Room.class); line in 'HibernateUtils.java class-->
        <mapping class="main.java.model.Hotel"></mapping>
        <mapping class="main.java.model.Room"></mapping>

    </session-factory>
</hibernate-configuration>